      <div class="lang">
      <% getLocales().forEach(lang => { %>
        <a href="/lang/<%= lang %>"><%= lang.toUpperCase() %></a>&nbsp;
        <% }) %> 
      </div>
      
      <div class="filters">
      <h2><%= __('Filter results') %></h2>
        <form action="/apiv1/ads" method="post">
          <div class="form-field">
            <label for="name"><%= __('Name starts with') %></label>
            <input type="text" name="name" id="name" placeholder="Name">
          </div>
          <div class="form-field">
            <label for="min"><%= __('Min. price') %></label>
            <input type="number" name="min" id="min" min="0" max="1000" placeholder="0">
          </div>
          <div class="form-field">
            <label for="max"><%= __('Max. price') %></label>
            <input type="number" name="max" id="max" min="0" max="1000" placeholder="0">
          </div>
          <div class="form-field">
            <%= __('Do you want to:') %>
            <div class="operation">
              <input type="radio" name="operation" value="buy">
              <label for="buy"><%= __('Buy') %></label>
              <input type="radio" name="operation" value="sell">
              <label for="sell"><%= __('Sell') %></label>
            </div>
          </div>
          <div class="form-field">
            Tags:<br>
            <input type="checkbox" name="lifestyle" id="lifestyle"><label for="lifestyle"><%= __('Lifestyle') %></label>
            <input type="checkbox" name="work" id="work"><label for="work"><%= __('Work') %></label><br>
            <input type="checkbox" name="motor" id="motor"><label for="motor"><%= __('Motor') %></label>
            <input type="checkbox" name="mobile" id="mobile"><label for="mobile"><%= __('Mobile') %></label>
          </div>
          <div class="form-field">
            <button type="submit"><%= __('Apply filters') %></button>
          </div>
        </form>
        <p class="button-link">
          <a href="/apiv1/adform" class="button-link"><%= __('Post your own ad!') %></a>
          <a href="/apiv1/tags" class="button-link"><%= __('Browse tags!') %></a>
        </p>
      </div>